ul.breadcrumbs {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}
ul.breadcrumbs li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumbs li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumbs li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumbs li a.active {
    color: #99BDF7;
}

ul.breadcrumbs li a:hover {
    color: #01447e;
    text-decoration: underline;
}
