{% set searchAction = action is defined ? action : null %}
{% set showCategory = showCategory is defined ? showCategory : false %}
{% set showMode = showMode is defined ? showMode : false %}
{% set showActive = showActive is defined ? showActive : false %}

<form action="{{ searchAction }}" method="get" class="form-inline">

    {% if showCategory %}
        {% include 'default/_partials/_filter-category.html.twig' %}
    {% endif %}

    {% if showMode %}
        {% include 'default/_partials/_filter-mode.html.twig' %}
    {% endif %}

    {% include 'default/_partials/_filter-query.html.twig' %}

    {% if showActive %}
        {% include 'default/_partials/_filter-active.html.twig' %}
    {% endif %}

    <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
</form>
