{% extends 'layout.main.html.twig' %}


{% block breadcrumbs %}
    {% set breadcrumbs = [
        {'url': path('reading.list'), 'title': 'Reading'},
        {'url': path('reading.my.prolong.add', {'id': id}), 'title': 'Prolong', 'active': true},
    ] %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <form action="{{ path('reading.my.prolong.add', {'id': id}) }}" method="post" novalidate="novalidate">
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-info">Submit</button>
    </form>
{% endblock %}

